[program:minecraft]
directory={{ minecraft_dir }}
command={{ minecraft_dir }}/start_server.sh
user={{ minecraft_user }}
numprocs=1
autostart=true
autorestart=unexpected
startsecs=5
startretries=3
stopsignal=TERM
